<div style="text-align:center">
  <h1>
    Welcome !
  </h1>
</div>
<h2>Choose your Wrapping style ;) </h2>
<h2>
  <a [routerLink]="['/promise']">Promise</a>
</h2>
<h2>
  <a [routerLink]="['/observable']">Observable</a>
</h2>

<router-outlet></router-outlet>
